body{
    margin: 0px;
    padding:0px;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    font-family: Arial;
}


header{
    text-align: center;
    padding: 20px 15px;
    margin: 0px;
    margin-top: 0;
    flex-grow: 0;
  color: #ba7a6c;

    background-color: white;
}
h2{
    font-size: 20px;
}
a{
    margin: 20px;
    color: mediumseagreen;
    font-weight: bold;
    text-decoration: none;
}
main{
    text-align: center;

}
img{

    margin: 0 auto;
    border-left-width: 0;
    width: 100%;
    height: 100%;
}


p{
    background-color: lightgrey;
    color: black;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}

button{

    color: white;
    background-color: mediumseagreen;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 200px;
}
footer{
    background-color: white;
    color: black;
    padding: 15px;
    padding-right: 45px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
